In [1]:
#Input & Output
#Loops
#Functions
#Operators

In [2]:
name = input('enter your name')

enter your nameAbhimanyu Srivastav

In [4]:
name

'Abhimanyu Srivastav'

In [5]:
age = input('enter your age')

enter your age23

In [6]:
age

'23'

In [8]:
type(age)
#here my age is an integer value but i am getting string.BECAUSE by default 
#python will take it as string value so we need typecasting.

str

In [9]:
age

'23'

In [10]:
age = int(input('enter your age'))

enter your age23

In [11]:
age

23

In [13]:
type(age)#after typecasting value gets change.
#typecasting can be done for any datatypes such as int, bool, string etc.

int

In [14]:
age

23

In [15]:
age = float(input('enter your age'))

enter your age23

In [16]:
age

23.0

In [17]:
age = bool(input('enter your age'))

enter your age23

In [18]:
age

True

In [19]:
numbers=input('enter 5 numbers')

enter 5 numbers10,20,30,40,50

In [20]:
numbers

'10,20,30,40,50'

In [21]:
numbers=int(input('enter 5 numbers'))

enter 5 numbers10,20,30,40,50

ValueError: invalid literal for int() with base 10: '10,20,30,40,50'

In [23]:
numbers=input('enter 5 numbers').split()

enter 5 numbers10,20,30,40,50

In [24]:
numbers

['10,20,30,40,50']

In [26]:
numbers=input('enter 5 numbers').split(',')

enter 5 numbers10,20,30,40,50

In [27]:
numbers

['10', '20', '30', '40', '50']

In [28]:
numbers=input('enter 5 numbers').split(':')

enter 5 numbers10:20:30:40:50

In [29]:
numbers

['10', '20', '30', '40', '50']

In [30]:
a=[int(x)for x in input('enter 5 numbers:').split(',')]

enter 5 numbers:10,20,30,40,50

In [31]:
a

[10, 20, 30, 40, 50]

In [32]:
type(a)

list

In [33]:
sum(a)

150

In [34]:
details = input('enter your details, Name, Age, MS, Salary')

enter your details, Name, Age, MS, SalaryAbhi,23,False,10

In [35]:
details

'Abhi,23,False,10'

In [36]:
details = input('enter your details, Name, Age, MS, Salary').split(',')

enter your details, Name, Age, MS, SalaryAbhi,23,False,10

In [37]:
details

['Abhi', '23', 'False', '10']

In [38]:
type(details)

list

In [39]:
details = [eval(x) for x in input('enter your details, Name, Age, MS, Salary').split(',')]

enter your details, Name, Age, MS, Salary'Abhi',23,False,10.5

In [40]:
details

['Abhi', 23, False, 10.5]

In [42]:
type(details[0])

str

In [43]:
type(details[1])

int

In [44]:
type(details[2])

bool

In [45]:
type(details[3])

float

In [46]:
#Output

In [47]:
print('Hello')
print()
print('Hi')

Hello

Hi

In [48]:
print('Hello \n all')

Hello
 all

In [49]:
print('Hello \t all')

Hello 	 all

In [50]:
#Concatenate  2 strings
print('Abhimanyu' + ''+ 'Srivastava' )

AbhimanyuSrivastava

In [51]:
#can pass multipule values as well
a,b,c = 10,20,30

In [56]:
print('the values are:', a,b,c)

the values are: 10 20 30

In [61]:
print(a,b,c,sep=',')

10,20,30

In [62]:
print('Hello')
print('Abhi')
print('welcome to the world of python')

Hello
Abhi
welcome to the world of python

In [64]:
#end='' cmd use to asking for some space in same line
print('Hello', end=' ')
print('Abhi', end=' ')
print('welcome to the world of python', end=' ')

Hello Abhi welcome to the world of python

In [65]:
print(10,20,30,40,50,sep='-', end='--------')

10-20-30-40-50--------

In [67]:
list1= [1,2,3,4,5]
tuple1=(1,2,3,4,5)
set1=  {1,2,3,4,5}

In [68]:
print(list1)
print(tuple1)
print(set1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [69]:
print(list1, end=' ')
print(tuple1, end=' ')
print(set1,end=' ')

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {1, 2, 3, 4, 5}

In [70]:
print(list1, sep='-')
print(tuple1, sep='-')
print(set1,sep='-')
#seperator is not working when we pass data strcuture(collection d.s)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [71]:
#How it will work?
print(list1,tuple1,set1,sep='-')

[1, 2, 3, 4, 5]-(1, 2, 3, 4, 5)-{1, 2, 3, 4, 5}

In [72]:
#Formatting the number

In [75]:
a,b,c=10.5,20,30
#i want a make it as int b as a float

In [85]:
print('the value of a is %i' %a)
print('the value of b is %f' %b)

the value of a is 10
the value of b is 20.000000

In [86]:
#how can we restrict the decimal places?
#like this we can restrict
print('the value of b is %.f' %b)

the value of b is 20

In [87]:
print('the value of b is %.2f' %b)

the value of b is 20.00

In [88]:
print('the value of b is %.3f' %b)

the value of b is 20.000

In [89]:
name= 'Anuj'
salary= 10000
company= 'Kashi Gomti G Bank'

print('Hello',name, 'your salar is', salary, 'your company is', company)

Hello Anuj your salar is 10000 your company is Kashi Gomti G Bank

In [90]:
#another method 
#place holder technique
print('Hello {}, your salary is {}, your company is {}'.format(name,salary,company))

Hello Anuj, your salary is 10000, your company is Kashi Gomti G Bank

In [91]:
#if sequence is not in a correct way like
print('Hello {}, your salary is {}, your company is {}'.format(company,salary,name))

Hello Kashi Gomti G Bank, your salary is 10000, your company is Anuj

In [92]:
#how can we manage this? - with their index value we can manage like this.
print('Hello {2}, your salary is {1}, your company is {0}'.format(company,salary,name))

Hello Anuj, your salary is 10000, your company is Kashi Gomti G Bank

In [95]:
#another way is,
print('Hello {n}, your salary is {s}, your company is{c}'.format(c=company, s=salary, n=name))

Hello Anuj, your salary is 10000, your company isKashi Gomti G Bank

In [96]:
#Flow Control
#If else
#For
#while

In [100]:
#syntax for If/else

if condition:
     #output
else
    #output

In [108]:
marks= int(input('enter your marks'))
if marks<35:
    print('you failed the exam')
else:
    print('you passed the exam')

enter your marks40
you passed the exam

In [109]:
marks= int(input('enter your marks'))
if marks<35:
    print('you failed the exam')
elif marks>=35 and marks<=60:
    print('you got average marks')
else:
    print('you got the excellent marks')

enter your marks55
you got average marks

In [111]:
marks= int(input('enter your marks'))
if marks<35:
    print('you failed the exam')
elif marks>=35 and marks<=60:
    print('you got average marks')
else:
    print('you got the excellent marks')

enter your marks80
you got the excellent marks

In [113]:
marks= int(input('enter your marks'))
if marks<35:
    print('you failed the exam')
elif marks>=35 and marks<=60:
    print('you got average marks')
else:
    print('you got the excellent marks')

enter your marks31
you failed the exam

In [116]:
#WAP to enter even or odd number.
x=int(input('enter the number'))
if x%2==0:
    print('the number is even')
else:
    print('the number is odd')

enter the number10
the number is even

In [117]:
x=int(input('enter the number'))
if x%2==0:
    print('the number is even')
else:
    print('the number is odd')

enter the number13
the number is odd

In [118]:
#For Loops
#Syntax
for condition:
    statement1
    statement2
statemenet3

In [120]:
x = 'Abhimanyu'
for a in x:
    print(a)
    print('Hi')
print('Hello')

A
Hi
b
Hi
h
Hi
i
Hi
m
Hi
a
Hi
n
Hi
y
Hi
u
Hi
Hello

In [122]:
y = 'Anuj'
for b in y:
    print(b)
    print('handsome')
print('byebye')

A
handsome
n
handsome
u
handsome
j
handsome
byebye

In [123]:
name='the scholar'
count=0
for x in name:
    count= count+1
    print(count)

1
2
3
4
5
6
7
8
9
10
11

In [124]:
name='the scholar'
count=0
for x in name:
    print('before the count')
    print(count)
    count= count+1
    print('After the loop')
    print(count)

before the count
0
After the loop
1
before the count
1
After the loop
2
before the count
2
After the loop
3
before the count
3
After the loop
4
before the count
4
After the loop
5
before the count
5
After the loop
6
before the count
6
After the loop
7
before the count
7
After the loop
8
before the count
8
After the loop
9
before the count
9
After the loop
10
before the count
10
After the loop
11

In [139]:
#find out the profit ratio? values are given below
sales =[23324,3233,4344,33220]
profit=[464,546,664,787]

In [140]:
list(range(0,len(sales)))

[0, 1, 2, 3]

In [141]:
list(range(0,len(profit)))

[0, 1, 2, 3]

In [146]:
sales =[23324,3233,4344,33220]
profit=[464,546,664,787]
for i in range(0,len(sales)):
    print(profit[i]/sales[i])

0.019893671754416052
0.16888339004021033
0.15285451197053407
0.023690547862733294

In [ ]:
#while loop
#syntax
while condition:
    statement1
    statement2
statement3

In [184]:
coupons=5
utilized=0
while utilized<6:
    print('total coupons left are', coupons-utilized)
    utilized=utilized+1
print('No coupons left')

total coupons left are 5
total coupons left are 4
total coupons left are 3
total coupons left are 2
total coupons left are 1
total coupons left are 0
No coupons left

In [185]:
#Operators
   #Airthmatic Operators
    #Relational Operators or Comparison Operators
    #Logical Operators
    #Equality Operators
    #Bitwise Operators
    #Special Operators

In [192]:
#Airthmatic Operators
#+,-,/,*
#% - Modulo Operator
#// - Floor Divison 
#** - Power
a=125
b=5
print('a+b',a+b)
print('a-b',a-b)
print('a*b',a*b)
print('a/b',a/b)
print('a%b',a%b)
print('a//b',a//b)
print('a**b',a**b)

a+b 130
a-b 120
a*b 625
a/b 25.0
a%b 0
a//b 25
a**b 30517578125

In [193]:
#Relational Operator
a=10
b=20
print('a>b', a>b)
print('a<b',a<b)
print('a>=b',a>=b)
print('a<=b',a<=b)

a>b False
a<b True
a>=b False
a<=b True

In [194]:
#when pass  the string value?
#it'll be following by it's ascii charc.
a='Abhi'
b='abhi'
print('a>b', a>b)
print('a<b',a<b)
print('a>=b',a>=b)
print('a<=b',a<=b)

a>b False
a<b True
a>=b False
a<=b True

In [195]:
#Equality Operator
list1=[1,2,3,4,5]
list2=[1,2,3,4,5]
list1==list2

True

In [196]:
list1=[1,2,3,4,5]
list2=[1,2,3,4,6]
list1==list2

False

In [197]:
list1=[1,2,3,4,5]
list2=[1,2,3,4,6]
list1!=list2

True

In [198]:
10=='10'

False

In [199]:
10!='10'

True

In [200]:
#Logical Operator
#And
#Or
#not

In [205]:
#when you pass? then what it'll give?
#non zero number- it'll give- true
#empty string- false
#zero number-false
#Rule-if x evaluate false then result will be x else y.

In [208]:
x = 1
y = 10
x and y

10

In [211]:
int(False)

0

In [5]:
True and True

True

In [6]:
True and False

False

In [7]:
False and True

False

In [8]:
not  True

False

In [11]:
#Assignment Operator
x = 10
x += 100
print(x)
x -=90
print(x)

110
20